body
{
    font-family: 'Press Start 2P', cursive;
    
}

input
{
    background-color: #0D7;
    width: 13%;
    height: 10%;
    border-radius: 10px;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;

}

p
{
    font-size: 1.1rem;
    font-weight: bold;
    color: #0BB;
}

#header
{
    color: #A12;
    font-size: 2.8rem;
    text-shadow: 2px 5px 3px #0D7;
    
    -webkit-text-stroke: 1px #000; 
    -moz-text-stroke: 1px #000; 
    text-stroke: 1px #000;
}

#gameBox
{
  width: 600px;
  height: 700px;
  background-color: aqua;
  text-align: center;
  border-radius: 20px;
  padding-top: 5px;
  margin: 0px auto;
  
  background:-webkit-linear-gradient(top, #0BB, #802); 
  background:-moz-linear-gradient(top, #0BB, #802); 
  background: linear-gradient(top,#0BB, #802);
}

#stage
{
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-flex;
  border: solid;
  border-color: lavender;
}

#background
{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(images/background.png);
}

#cannon
{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 270px;
  left: 140px;
  background-image: url(images/cannon.png);
}

#alien
{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 80px;
  background-image: url(images/alien.png);
  visibility: visible;
}

#explosion
{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 80px;
    background-image: url(images/explosion.png);
    visibility: hidden;
}

#missile
{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 240px;
  left: 145px;
  background-image: url(images/missile.png);
  visibility: visible;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: darkred;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #000;
    cursor: pointer;
    margin-top: 2%;

    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;

    background:-webkit-linear-gradient(top, #A12, #CC4); 
    background:-moz-linear-gradient(top, #A12, #CC4); 
    background: linear-gradient(top,  #A12, #CC4);

    /*Transition*/
  -webkit-transition: left 0.5s ease-out 0s;
  -moz-transition: left 0.5s ease-out 0s;
  transition: left 0.1s ease-out 0s;

    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5); 
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);

    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
}

button:hover {
    background: -webkit-linear-gradient(top, #acc7a3, #506651); 
    background: -moz-linear-gradient(top, #acc7a3, #506651); 
    background: linear-gradient(top, #acc7a3, #506651);
}

button:active {
    background: -webkit-linear-gradient(top, #858565, #c5c9a9); 
    background: -moz-linear-gradient(top, #858565, #c5c9a9); 
    background: linear-gradient(top, #858565, #c5c9a9);
}